{% extends 'base.html' %}
{% load static %}

{% block css_files %}
    <link rel="stylesheet" href="{% static "blog/post.css" %}" />
    <link rel="stylesheet" href="{% static "blog/all-posts.css" %}" />
{% endblock %}
{% block title %}The Blog Posts{% endblock %}

{% block content %}
{% comment %} <section id="all-posts">
    <h2>Archive</h2>
    <ul>
        {% for post in all_posts %}
            {% include "blog/includes/post.html" %}
        {% endfor %}
    </ul>
</section> {% endcomment %}
<section class="cartoons-list">
    {% for post in all_posts %}
    <div class="cartoon">
        {% if post.image %}
        <img src="{{ post.image.url }}" alt="{{ post.title }}" />
        {% endif %}
        <h2><a href="{% url 'blog:post_detail' slug=post.slug %}">{{ post.title }}</a></h2>
        <p>{{ post.excerpt }}</p>
        <div id="read-later">
            {% if user.is_authenticated %}
            <form action="{% url 'blog:read-later' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="content_type" value="post" />
                <input type="hidden" name="content_id" value="{{ post.id }}" />
                <input type="hidden" name="next" value="{{ request.path }}" />
                <button type="submit">
                    {% if post.id in request.session.stored_contents.posts %}
                        Remove from Saved Article
                    {% else %}
                        Save Article
                    {% endif %}
                </button>
            </form>
            {% else %}
                <a href="{% url 'users1:login' %}?next={{ request.path }}">Log in to save cartoons</a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</section>
{% endblock %}