{% extends "base.html" %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'blog/cartoons.css' %}">
{% endblock %}
{% block title %}Cartoons{% endblock %}

{% block content %}
<div class="cartoons-list">
    {% for cartoon in cartoons %}
        <article class="cartoon">
            <h2><a href="{% url 'blog:cartoon_detail' slug=cartoon.slug %}">{{ cartoon.title }}</a></h2>
            <p>{{ cartoon.excerpt }}</p>
        </article>
    {% endfor %}
</div>
{% endblock %}