{% extends "base.html "%}

{% block title %}The Blog{% endblock %}

{% block content %}
<header id="main_navigation">
    <h1><a href="">Earn's Blog</a></h1>
    <nav>
        <a href="">All Posts</a>
    </nav>
</header>
<section id="welcome">
    <header>
        <img src="" alt="The earn Logo">
        <h2>Earn's Blog</h2>

    </header>
    <p>Hello, lets talk about Our Family</p>

</section>
<section id="latest-post">
    <h2>The Latest stuff</h2>
    <ul>
        <li>
            <article class="post">
                <a href=""></a>
                <img src="" alt="some topic">
                <div class="post__content">
                    <h3>some topic blog post</h3>
                    <p>bubbel bubble text bla bla</p>
                </div>
            </article>
        </li>
    </ul>
</section>
<section>
    <h2>What I do</h2>
    <p>This page info about why the blog exists</p>
    <p>more text about goals and shit</p>
</section>

{% endblock %}
