{% extends "base.html" %}
{% load static %}

{% block title %}The Blog{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static "blog/post.css" %}" /> 
<link rel="stylesheet" href="{% static "blog/index.css" %}" />
{% endblock %}

{% block content %}
<section id="welcome">
    <header>
        <img src="{% static "images/ras4.png" %}" alt="The Earn's founder">
    </header>
    <p>bubble text</p>

</section>
<section id="latest-posts">
    <h2>The Latest stuff</h2>
    <ul>
        {% for post in posts %}
            <li>
                <h2>{{ post.title }}</h2>
                {% if post.image %}
                    <img src="{{ post.image.url }}" alt="{{ post.title }}">
                {% endif %}
                <!-- Other post details -->
            </li>
        {% endfor %}
    </ul>
</section>
<section id="about">
    <h2>This is a storyblog with some alternitive stories that could be true.</h2>
</section>

{% endblock %}
