{% extends "base.html" %}
{% load static %}

{% block title %}The Posts Titels{% endblock %}

{% block css_files %}
<link href="{% static 'blog/post-details.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

<section id="summary">
    <h2>Posts Titel</h2>
    <article>
        <img src="{% static "blog/images/02727.png" %}" alt="Post image" />
        <address>By Earns</address>
        <div>
            Last updated on <time>2019-01-01</time>
        </div>
    </article>
</section>

<main>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
        voluptatum, quibusdam, quia, quos voluptatem voluptate quod
        exercitationem voluptatibus quas doloribus quidem. Quisquam voluptatum,
        quibusdam, quia, quos voluptatem voluptate quod exercitationem
        voluptatibus quas doloribus quidem.
    </p>
    <p>
        Lorem ipsum 2 dolor sit amet consectetur adipisicing elit. Quisquam
        voluptatum, quibusdam, quia, quos voluptatem voluptate quod
        exercitationem voluptatibus quas doloribus quidem. Quisquam voluptatum,
        quibusdam, quia, quos voluptatem voluptate quod exercitationem
        voluptatibus quas doloribus quidem.
    </p>
    <p>
        Lorem 3 ipsum dolor sit amet consectetur adipisicing elit. Quisquam
        voluptatum, quibusdam, quia, quos voluptatem voluptate quod
        exercitationem voluptatibus quas doloribus quidem. Quisquam voluptatum,
        quibusdam, quia, quos voluptatem voluptate quod exercitationem
        voluptatibus quas doloribus quidem.
    </p>
</main>

{% endblock %}
