{% extends 'base.html' %}
{% load static %}

{% block title %}{{ post.title }}{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static 'blog/post-details.css' %}">
{% endblock %}

{% block content %}

{% if comment_form.errors %}
    <div id="alert">
        <strong>Your comment wasn't submitted, please correct the following error</strong>
        <a href="#comment-form">FIX!</a>
    </div>
{% endif %}

<div class="article-post-content">
    <section id="summary">
        <h2>{{ post.title }}</h2>
        <div>
            {% for tag in post_tags %}
            <span class="tag">{{ tag.caption }}</span>
            {% endfor %}
        </div>
        <div id="read-later">
            {% if user.is_authenticated %}
                <form action="{% url 'blog:read-later' %}" method="POST">
                    {% csrf_token %}
                    <input type="hidden" name="post_id" value="{{ post.id }}" />
                    <button type="submit">
                        {% if saved_for_later %}
                            Remove from Saved Article List               
                        {% else %}
                            Save Article
                        {% endif %}
                    </button>
                </form>
            {% else %}
                <a href="{% url 'users1:login' %}?next={{ request.path }}">Log in to save articles</a>
            {% endif %}
        </div>
    
        <article>
            <img src="{{ post.image.url }}" alt="{{ post.title }}" />
            <address>By <a href="mailto:{{ post.author.email }}">{{ post.author }}</a></address>
            <div>
                Last updated on <time>{{ post.date|date:"d M Y" }}</time>
            </div>
        </article>
    </section>
    <main>
        <div class="article-content">
            {{ post.content|linebreaks}}
        </div>
    </main>
</div>

{% if user.is_authenticated %}
    <section id="comment-form">
        <form action="{% url 'blog:post-detail-page' slug=post.slug %}" method="post">
            {% csrf_token %}
            {{ comment_form.as_p }}
            <button type="submit">Submit Comment</button>
        </form>
    </section>
    
    <section id="comments">
        <ul>
            {% for comment in post.comments.all %}
            <li>
                <h2>{{ comment.user.username }}</h2>
                <p>{{ comment.text|linebreaks }}</p>
            </li>
            {% endfor %}
        </ul>
    </section>
{% else %}
<p>Please <a href="{% url 'users1:login' %}?next={{ request.path }}">log in</a> to post a comment.</p>
{% endif %}
{% endblock %}
