{% extends 'base.html' %}
{% load static %}

{% block title %}
Saved Content: 
{% endblock %}

{% block css_files %}
<link rel="stylesheet" href="{% static "blog/stored-posts.css" %}">
{% endblock %}

{% block content %}
<section id="stored-content">
    <h2>Saved Content</h2>
    {% if not has_contents %}
        <p>You have no saved content.</p>
    {% else %}
        <div class="saved-posts">
            <h3>Saved Articles</h3>
            {% if posts %}
            <ul>
                {% for post in posts %}
                <li><a href="{% url 'blog:post-detail-page' post.slug %}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No saved articles.</p>
            {% endif %}
        </div>
        <div class="saved-cartoons">
            <h3>Saved Stories</h3>
            {% if cartoons %}
            <ul>
                {% for cartoon in cartoons %}
                <li><a href="{% url 'blog:cartoon_detail' cartoon.slug %}">{{ cartoon.title }}</a></li>
                {% endfor %}
            </ul>
            {% else %}
            <p>No saved Stories.</p>
            {% endif %}
        </div>
    {% endif %}
</section>
{% endblock %}