@import url('https://fonts.googleapis.com/css?family=Arial:400,700,400italic,700italic&subset=latin');

:root {
    --primary-color: #163020; /* Dark green */
    --secondary-color: #304D30; /* Medium green */
    --accent-color: #B6C4B6; /* Light green */
    --light-color: #EEF0E5; /* Very light green */
    --text-color: #ffff; /* White */
}

body {
    font-family: 'Arial', sans-serif;
    background-color: var(--primary-color);
    color: var(--text-color);
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main-navigation {
    background-color: var(--secondary-color);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
    padding: 1rem;
    text-align: center;
    color: var(--text-color);
}

#all-posts {
    margin: 2rem auto;
    width: 90%;
    margin-top: 100px;
}

#all-posts h2 {
    text-align: center;
    font-size: 2rem;
    color: var(--text-color);
    margin: 1.5rem 0;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}

li {
    background: var(--accent-color);
    border: 1px solid var(--secondary-color);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.post img {
    width: 100%;
    height: auto;
    border-radius: 12px;
}

.post a {
    display: block;
    background-color: var(--light-color);
    overflow: hidden;
    text-decoration: none;
    color: var(--secondary-color);
}

/* Media Queries for larger screens */
@media (min-width: 600px) {
    #main-navigation {
        text-align: left;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 10%;
    }

    #all-posts h2 {
        font-size: 2rem;
        margin: 3rem 0;
    }

    ul {
        gap: 1.5rem;
    }

    .post img {
        width: 7rem;
        height: 7rem;
    }

    .post a {
        height: 22rem;
    }
}

/* Additional Media Queries for even larger screens */
@media (min-width: 768px) {
    #all-posts {
        max-width: 60rem;
    }
}

/* Media Queries for Galaxy Fold */
@media screen and (min-height: 659px) and (max-height: 673px) and (max-width: 280px) {
    #main-navigation {
        flex-direction: column;
        padding: 0;
    }

    #all-posts {
        width: 100%;
        margin-top: 5rem; /* Adjust for fixed header */
    }

    ul {
        flex-direction: column;
    }

    .post img {
        width: 100%;
    }

    .post a {
        height: auto;
    }
}