/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    background-color: #e7e7e7;
}

.cartoons-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.cartoon {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
    width: 80%;
    max-width: 700px;
}

.cartoon h2 {
    color: #390281;
    margin: 0 0 10px 0;
}

.cartoon h2 a {
    color: inherit; /* Use the parent color */
    text-decoration: none;
    transition: color 0.3s ease;
}

.cartoon h2 a:hover {
    color: #007bff;
}

.cartoon p {
    color: #333;
    font-size: 16px;
}
/* Cartoon Detail Styles */
article.cartoon {
    margin-top: 80px;
    margin-left: 30px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    /* margin: 20px auto; */
    padding: 20px;
    width: 80%;
    max-width: 700px;
}

.cartoon-panels {
    display: grid;
    grid-gap: 20px;
}

.cartoon-panel img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.cartoon-panel p {
    font-size: 14px;
    color: #555;
    text-align: center;
}
/* Media query for tablets and smaller devices */
@media only screen and (max-width: 768px) {
    .cartoons-list, .cartoon, article.cartoon {
        width: 95%; /* Slightly narrower on smaller screens */
    }
}

/* Media query for Galaxy Fold */
@media only screen and (min-height: 659px) and (max-height: 673px) and (max-width: 280px) {
    body {
        font-size: 14px; /* Smaller font size for Galaxy Fold */
    }
    .cartoons-list, .cartoon, article.cartoon {
        width: 100%; /* Use full width on Galaxy Fold to maximize space */
        margin-top: 60px; /* Add more space on the top */
        padding: 15px; /* Reduce padding */
    }
    .cartoon-panels {
        grid-gap: 15px; /* Reduce gap size */
    }
}

/* Media query for desktops */
@media only screen and (min-width: 769px) {
    .cartoons-list, .cartoon, article.cartoon {
        width: 70%; /* Wider for desktop screens */
    }
}