{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'app.css' %}" type="text/css">
    <link rel="icon" href="{% static 'staticfiles/images/favicon.ico' %}" type="image/x-icon">
    {% block css_files %}{% endblock %}
</head>
<body>
    <header id="main-navigation">
        <h1><a href="{% url 'blog:starting-page' %}">Earn's Blog</a></h1>
        <nav>
            <a href="{% url 'blog:posts-page' %}">Archive</a>
            <a href="{% url 'blog:read-later' %}">Your Archive</a>
    
            <!-- User Authentication Links -->
            {% if request.user.is_authenticated %}
                <span>Welcome, {{ request.user.username }}!</span>
                <a href="{% url 'users1:logout' %}">Logout</a>
            {% else %}
                <a href="{% url 'users1:login' %}">Login</a>
                <a href="{% url 'users1:signup' %}">Signup</a>
            {% endif %}
            <!-- End User Authentication Links -->
    
        </nav>
    </header>   
    
    {% block content %}
    {% endblock %}
</body>
</html>