{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="keywords" content="comic stories, creative articles, imaginative writing, illustrated narratives, storytelling blog, unique comics, engaging articles, fictional tales">
    <meta name="description" content="Welcome to a realm of creativity! Explore our engaging comic-style stories and imaginative articles, all in one place. Dive into a world where vivid illustrations meet captivating narratives.">
    <title>{% block title %}{% endblock %}</title> <!-- Title moved inside the <head> -->
    <link rel="stylesheet" href="{% static 'app.css' %}" type="text/css">
    <link rel="icon" href="{% static 'images/favicon.ico' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    {% block css_files %}{% endblock %}
  </head>
  <body>
    

    <header id="main-navigation">
      <h1><a class="logo-text" href="{% url 'blog:starting-page' %}">The Earn's</a></h1>
      <button id="hamburger-btn" aria-label="Toggle menu">
        <i class="fas fa-bars"></i>
      </button>
      <div class="nav-box">
        <nav id="nav-menu">
          {% if request.user.is_authenticated %}
            <span>{{ request.user.username }}!</span>
            <a href="{% url 'users1:logout' %}">Logout</a>
            <a href="{% url 'blog:read-later' %}">Saved</a>
            <a href="{% url 'blog:cartoons-page' %}">Stories</a>
            <a href="{% url 'blog:posts-page' %}">Articles</a>
            <a href="{% url 'users1:profile' %}">Profile</a>
          {% else %}
            <a href="{% url 'users1:login' %}">Login</a>
            <a href="{% url 'users1:signup' %}">Signup</a>
          {% endif %}
        </nav>
      </div>
    </header>

    {% block content %} {% endblock %}

    <script>
      // When the document is fully loaded
      document.addEventListener("DOMContentLoaded", function () {
        // Get the hamburger button and the navigation menu
        var hamburgerBtn = document.getElementById("hamburger-btn");
        var navMenu = document.getElementById("nav-menu");

        // Listen for click events on the hamburger button
        hamburgerBtn.addEventListener("click", function () {
          // Toggle the 'active' class on the navigation menu
          navMenu.classList.toggle("active");
        });
      });
    </script>
  </body>
</html>