@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Open+Sans:wght@400;700&display=swap');
.user-profile {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 10vh auto 10px auto;
}

.user-profile h3 {
    margin-top: 0;
}

.profile-picture {
    margin: 20px 0;
    max-width: 400px; /* Max width for the image container */
    width: 100%;
}

.profile-picture img {
    max-width: 100%;
    height: auto;
    border-radius: 50%; /* Optional: makes the image circular */
}

.update-container {
    max-width: 100rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 600px; /* Max width of the form */
    margin: 0 auto;
    justify-content: center;
    align-items: center;
}

form button {
    margin-top: 10px;
    padding: 10px 20px;
    background-color: #007bff; /* Bootstrap primary color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 60%;
}

form button:hover {
    background-color: var(--light-color); /* Button background color */
    color: var(--secondary-color); /* Button text color */
    box-shadow: 0.2rem 0.3rem 0.3rem rgba(0, 0, 0, 0.1);
    border: none;
    border-radius: 8px;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: transform 0.3s ease;
    width: 100%;
}

.delete-container {
    max-width: 100rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10rem;
}

/* Responsive styles */
@media (max-width: 768px) {
    .user-profile {
        flex-direction: column;
        align-items: center;
    }
}