:root {
  --background-color: #163020; /* Dark green */
  --nav-background-color: #304D30; /* Medium green */
  --element-background-color: #B6C4B6; /* Light green */
  --body-text-color: #ffff; /* White */
  --hover-color: #EEF0E5; /* Very light green */
}

* {
    box-sizing: border-box;
}

html {
    font-family: 'Open Sans', 'Lato', sans-serif;
    line-height: 1.6;
}

body {
    margin: 0;
    background: var(--background-color);
    color: var(--body-text-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

#main-navigation {
    background: var(--nav-background-color);
    color: var(--body-text-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 5rem;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

#main-navigation a {
    text-decoration: none;
    color: var(--body-text-color);
    font-size: 1.6rem;
}

#main-navigation a:hover,
#main-navigation a:active {
    background-color: var(--hover-color);
    color: var(--nav-background-color);
}

#hamburger-btn {
    font-size: 2rem;
    cursor: pointer;
    background: none;
    border: none;
    color: var(--body-text-color); /* White hamburger icon */
    display: block;
}

#nav-menu {
    display: none;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    background: var(--element-background-color);
    top: 5rem;
    right: 0;
    z-index: 999;
}

#nav-menu.active {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#nav-menu a {
    padding: 10px 0;
    width: 100%;
    text-align: center;
    border-top: 1px solid var(--hover-color);
}

@media (min-width: 600px) {
    #nav-menu.active {
        display: flex; /* Show menu when active */
        position: fixed;
        right: 0;
        top: 5rem;
        width: 100%;
        overflow-y: auto;
    }
}

@media (min-width: 1024px) {
    /* Tablet and larger screens */
    #main-navigation {
        padding: 0 80px;
        height: 10rem;
        gap: 10rem;
    }

    #hamburger-btn {
        display: none;
    }

    .logo-text {
        font-size: 3rem;
    }

    #nav-menu {
        display: flex; /* Always show nav menu */
        justify-content: center; /* Center menu items */
        align-items: center; /* Align items vertically */
        height: auto;
        background: none;
    }

    #nav-menu a {
        display: inline-block;
        margin: 0 10px;
        padding: 0.5rem 1rem;
        border: none;
        color: var(--body-text-color);
        text-decoration: none;
        font-size: 1.2rem;
        letter-spacing: 2px;
        text-transform: uppercase;
    }

    #nav-menu a:hover {
        background-color: var(--hover-color);
        border-radius: 4px;
    }
}